.container{
    display:flex;
    flex-direction: row;
}
.card{
    display:flex;
    flex-direction:row;
    height: 300px;
    // width: 700px;
    background-color: rgb(255, 255, 255);
    margin:10px;
    border-radius: 6px;
    box-shadow:0px 0px 5px #2122228a;
    border:1px  white;
}
.leftSide{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 250px;
    border-radius:6px 0px 0px 6px;
    background-color: #731963;
}
.title{
    display:flex;
    text-align:center;
    margin-top:20px;
    color:white;
    padding-left: 5px;
    font-size:20px;
}
.image{
    max-width: 100%; 
    margin-top: 20px;  
    border-radius: 2px;
    height: 30%;
}
.disponibile{
    margin-top:5px;
    font-size:8px;
    text-align: center;

}
.info{
    margin-top:20px;
    color:white;
    font-size:8px;
    display:flex;
    flex-direction:row;
    // align-content: center;
    align-items:center;
}
.singleTitle{
    margin-left:-5px;
    margin-right: 7px;
    top:50%;
    // text-align: center;
}
.mat-icon {
  font-size: 15px;
  margin-right:-3px;
}
.price{
    // display: flex;
    // align-items: center;
    margin-top:20px;
    width: 60px;
    height: 25px;
    background-color: white;
    border-radius:5px;
    font-size:12px;
    text-align: center;
    // padding:0px;
}

.rightSide{
    display:flex;
    flex-direction: column;
    // align-items: center;
    height: 300px;
    width: 350px;
    border-radius:0px 6px 6px 0px;
    background-color: #ffffff;
}

.rankingContainer{
    display:flex;
    width: 290px;
    height: 60px;
    margin-top: 25px;
    margin-left:25px;
    background-color: #731963;
}
