<div *ngIf="computerList">
<div class="container">
    <div class="card" *ngFor="let pc of computerList;index as i;">
        <div class="leftSide">
            <span class="title">{{pc.model}} {{pc.name}} </span>
            <img [style.box-shadow]="pc.availabilty > 1 ? '0px 0px 15px #16FC1E':'0px 0px 15px #ff7b00'"[style.border]="pc.availabilty > 1 ? '1px solid #16FC1E':'1px solid #ff7b00'" class="image" [src]="pc.image">
            <div style="color:#16FC1E" *ngIf="pc.availabilty > 1" class="disponibile"><mat-icon >verified_user</mat-icon>
                <p style="margin: -12px;">Disponibile nuovo</p></div>
            <div style="color:#ff7b00" *ngIf="pc.availabilty == 1" class="disponibile"><mat-icon >warning</mat-icon>
                <p style="margin: -12px;">Solo esposto</p></div>
            <span class="info">
                <mat-icon >memory</mat-icon><p class="singleTitle">{{pc.cpu}}</p>
                <mat-icon >pages</mat-icon><p class="singleTitle">{{pc.ram}}gb</p>
                <mat-icon >sd_card</mat-icon><p class="singleTitle">{{pc.ssd}}gb</p>
                <mat-icon >widgets</mat-icon><p class="singleTitle">{{pc.gpu}}</p>
            </span>

            <mat-progress-bar style="width: 150px;height: 10px;color: red;" mode="determinate" [value]="getValue(i)[0]*4"></mat-progress-bar>
            <div class="price"><span>{{pc.price}} € </span></div>
        </div>

    </div>
</div>
</div>