<div class="container">
  <div class="pinco">
    <form class="example-form animated">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Nome primo computer</mat-label>
          <input type="text"
                 placeholder="Scegli un computer"
                 aria-label="Computer"
                 matInput
                 [formControl]="primoComputer"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <div *ngIf="firstComputer != -1">
        <app-card-component [cmp]="computerList[firstComputer]"></app-card-component>
    </div>
    </div>
    <img class="img animated" src="assets/compare.svg">
    <div class="pinco">
      <form class="example-form animated">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Nome secondo computer</mat-label>
            <input type="text"
                  placeholder="Scegli un computer"
                  aria-label="Computer"
                  matInput
                  [formControl]="secondoComputer"
                  [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredSecondOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <div *ngIf="secondComputer != -1">
          <app-card-component [cmp]="computerList[secondComputer]"></app-card-component>
      </div>
    </div>


    </div>
<div class="external-container">
    <button  class="button-spec animated">Confronta</button>
</div>