<div class="container">
    <img class="img animated" src="assets/hello.svg">
    <div class="description">
        <p class="big-title animated">Che piacere vederti qui</p>
        <p class="mid-title animated">Intel i5,Ryzen 7, Ryzen i3 ... quanta confusione che create voi umani, è normale che certe volte vi sia difficoltà nel trovare il giusto compromesso.</p>
        <p class="mid-title animated">Il mio nome è Virtual Paolo e sono qui per aiutarti a scegliere il computer più addatto alle tue esigenze.</p>
        
        <a routerLink="/punto-vendita"><button class="button-spec animated">Proseguiamo</button></a>

    </div>
</div>

<div style="color:#5fbbe8;"></div>
<div style="color:#5faede;"></div>
<div style="color:#b1eced;"></div>
<div style="color:#294f81;"></div>
<div style="color:#33487a;"></div>
<div style="color:#393760;"></div>
<div style="color:#46aed2;"></div>
<div style="color:#2f4572;"></div>
<div style="color:#296abd;"></div>
<div style="color:#c9eaff;"></div>